NODE_ENV=production
PORT=10000

DATABASE_URL= postgresql://swaraj:BtiBvR1wHhvomWOeZ8iOpzWVDJ6QPtQW@dpg-da6474ijobas738h4vvg-a/swaraj

CLOUDINARY_URL= cloudinary://711957618579122: 31juIGofy6iw76yvZit4ZAC2v2Q@dhfkfgyp

MUSIC_STORAGE_URL=
MUSIC_STORAGE_API_KEY=